

div.box, div.cell {
	display: inline-block;
}

div.box {
	outline: 3px solid red;
}

.cell input {
	width: 30px;
	height: 30px;
}

#sudoku {
	font-size: 0;
	text-align: center;
}

body {
	text-align: center;
	font-family: Arial;
	background-color: yellow;
}

button {
    color: #333;
    box-shadow: -3px 3px orange, -2px 2px orange, -1px 1px orange;
    border: 1px solid orange;
}

.incorrect {
  background-color: yellow;
}

.value-provided {
  background-color: #DDD;
}

#flash {
  margin: 20px;
}

.solution, .save {
	margin-bottom: 10px
}